<header>
    <div class="logo">
        <a href="/">
            <img src="/img/axkme-logo.png" width="150" />
        </a>
    </div>
   <user-status></user-status>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="ads ads-1">
            <img src="/img/banner.png" />
        </div>
    </div>
</div>
<div class="container content">
    <div class="row">
        <category-header></category-header>
    </div>
    <div class="row">
        <category-topic-list></category-topic-list>
    </div>
</div>
<footer>
    <div class="contact">
        <p class="contact-heaader">ติดต่อสอบถาม</p>
        <p><span class="contatc-label">โทรศัพท์:</span>  <i class="fa fa-mobile"></i> 087-303-3883</p>
        <p><span class="contatc-label">อีเมลล์:</span> <i class="fa fa-envelope-o"></i> axkme.info@gmail.com</p>
    </div>
    <div class="copyright">
        <span class="copyright-text">Copyright <i class="fa fa-copyright"></i> 2016, by AXK ME.</span>
        <a href="/agreement">ข้อตกลงในการใช้งานเว็บไซต์</a>
    </div>
</footer>
<user-popup></user-popup>
<register-popup></register-popup>