<img class="load" *ngIf="!categoryLoaded" src="img/balls.gif" />
<div class="row" *ngIf="categoryLoaded">
    <div class="col-xs-2 animated fadeIn" *ngFor="#category of categories">
        <div class="category {{category.color}}">
            <i class="fa {{category.icon}}"></i>
            <span>{{category.name}}</span>
        </div>
    </div>
    <div class="col-xs-2 animated fadeIn" (click)="openLogin()">
        <div class="category sys">
            <i class="fa fa-user"></i>
            <span>เข้าใช้งาน</span>
        </div>
    </div>
    <div class="col-xs-2 animated fadeIn" (click)="openRegister()">
        <div class="category sys">
            <i class="fa fa-user-plus"></i>
            <span>สมัครใช้งาน</span>
        </div>
    </div>
<div>
