<div class="popup animated {{animate}}" *ngIf="visible">
    <div class="popup-content">
        <div class="close">
            <i class="fa fa-remove" (click)="close()"></i>
        </div>
        <div class="circle-border">
            <i class="fa fa-user"></i>
        </div>
        <img *ngIf="isLoad" class="form-loading" src="/img/balls.gif" />
        <form *ngIf="!isLoad && !loginUser.username && !isRegisterSuccess" autocomplete="false">
            <p class="message-block" *ngIf="hasError">
                <span>{{errorMessage}}</span>
            </p>
            <div class="form-group">
                <label>นามแฝง</label>
                <input type="text" class="form-control" [(ngModel)]="user.username" />
            </div>
            <div class="form-group">
                <label>รหัสผ่าน</label>
                <input type="password" class="form-control" [(ngModel)]="user.password" />
            </div>
           
            <div class="button-group">
                <button type="button" class="btn btn-success" (click)="login()">เข้าใช้งาน</button>
                <button type="button" class="btn btn-trans" (click)="register()">สมัครใช้งาน</button>
            </div>
        </form>
        <div class="user-profile" *ngIf="!isLoad && loginUser.username && !isRegisterSuccess">
            <h2>คุณได้ลงชื่อเข้าใช้โดย</h2>
            <div class="user-name">
                <label>นามแฝง: </label>
                <span>{{loginUser.username}}</span>
            </div>
            <div>
                <button type="button" class="btn btn-trans" (click)="logout()">ออกจากระบบ</button>
            </div>
        </div>
        <div class="user-profile" *ngIf="isRegisterSuccess && !isLoad">
            <h2>คุณได้สมัครเข้าใช้งานสำเร็จ</h2>
            <div class="user-name">
                <label>นามแฝง: </label>
                <span>{{registerUser.username}}</span>
            </div>
            <p>กรุณาจำนามแฝงและรหัสผ่านของท่านไว้เพื่อใช้ครั้งถัดไปเมื่อระบบร้องขอ</p>
            <div>
                <button type="button" class="btn btn-trans" (click)="toLogin()">ลงชื่อเข้าใช้งาน</button>
            </div>
        </div>
    </div>
</div>