@font-face {
  font-family: 'WDB_Bangna';
  src: url('/fonts/WDB_Bangna.ttf');
}
@font-face {
  font-family: 'thaisanalite';
  src: url('/fonts/thaisanslite_r1.ttf');
}
* {
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: gotham-light;
    src: url("/fonts/gotham-light.ttf")
}
@font-face {
    font-family: gotham-med;
    src: url("/fonts/gotham-med.ttf")
}
@font-face {
    font-family: gotham-reg;
    src: url("/fonts/gotham-reg.ttf")
}
body {
    width:100%;
    padding:0;
    margin:0;
    font-size:24px;
    font-family: 'thaisanalite';
    color:#333;
    min-width:992px;
    background-color: #f9f9f9;
}
app .page-loading, app-topic .page-loading {
    top:50%;
    left:50%;
    margin-top: -100px;
    margin-left: -50px;
    position:absolute;
}
.content {
    padding-bottom:100px;
    min-width: 992px;
}
h1 {
    font-size: 80px;
    font-family: gotham-reg;
    text-shadow: 1px 1px 1px #ccc;
    color: #666;
}
.category {
    display: inline-block;
    border-radius: 2%;
    height: 150px;
    cursor:pointer;
    padding: 30px 10px;
    text-align: center;
    line-height: 1;
    font-size: 24px;
    color:#666;
    width:100%;
    margin-top:30px;
    background: #f2f2f2;
}
.category .name {
    color:#333;
}
.category .fa {
    display:block;
    font-size: 40px;
}
.category span {
    margin-top:10px;
    display:inline-block;
}
header {
    background:rgb(255,255,255);
    height: 70px;
    width:100%;
    color:#fff;
    padding: 8px 20px;
    border-bottom: 1px solid #e8e8e8;
}
header p {
   font-size: 35px;
   text-shadow:1px 1px 10px #ccc;
   margin-top: 5px;
   padding: 0 20px;
}
footer {
    height: 150px;
    width:100%;
    color:#fff;
    padding: 25px 20px;
    background:#666;
    border-top: 1px solid #e8e8e8;
}
footer p {
    margin:0;
}
footer .contact {
    float:right;
    width:280px;
    font-size:22px;
}
footer .contact .fa {
    font-size:20px;
    margin: 0 5px;
}
footer .contact .fa-mobile {
    font-size:25px;
}
.contatc-label {
    width:50px;
    display:inline-block;
}
.contact-header {
    font-size:25px;
}
.category-list .col-md-3 {
    text-align:center;
}
.logo {
    font-family: gotham-med;
    color: #405070;
    display:inline-block;
    position: relative;
    top: 3px;
}
.logo img {
    width:150px;
}
.logo .logo-text {
    color: #aaa;
    position: relative;
    top: 3px;
    text-shadow: 1px 1px 1px #ccc;
}
.user {
    float:right;
    position: relative;
    top: 6px;
    cursor:pointer;
    color:rgb(91,192,222);
}
.copyright {
    float:left;
    top: 5px;
    position:relative;
}
.copyright .fa {
    position:relative;
    top:2px;
}
.copyright a {
    display:block;
    color:#fff;
    font-size: 22px;
    margin-top: 15px;
}
.copyright-text {
    position:relative;
    font-size: 24px;
    top:10px;
}
.contact-heaader {
    font-size: 28px;
}
.ads {
    box-shadow: 1px 1px 10px #ccc;
    background: #666;
    text-align:center;
    font-size:50px;
    text-shadow: 1px 1px 1px #222;
    color:#fff;
    float:left;
}
.slogan {
    font-size:50px;
    text-shadow: 1px 1px 1px #ccc;
}
.ads-1 {
    width: 100%;
    height: 350px;
}
.ads-1 img {
    margin-top:20px;
    height: 320px;
}
.forum h2 {
    color: #666;
    margin-top: 50px;
    border-radius: 2px;
    border: 2px solid;
    padding: 12px 30px 8px 30px;
}

.forum h2 span {
    position:relative;
    top:-5px;
    font-size:30px;
}
.forum ul {
    list-style:none;
    margin:0;
    padding:0;
    margin-top:20px;
    display:inline-block;
    width:100%;
}
.forum ul li {
    float:left;
    width:100%;
    margin-top:0px;
    background:#f2f2f2;
    border: 1px solid #666;
    margin-top: 10px;
    border-radius:2px;
}
.forum ul li a {
    color:#333;
    width:100%;
    padding:20px;
    display: inline-block;
}
.forum ul li a:hover, .forum ul li a:active, .forum ul li a:focus {
    text-decoration:none;
}
.forum ul li a .fa {
    margin-right:10px;
    float:left;
    margin-top:13px;
}
.forum ul li .topic-name {
    display:block;
    font-size:28px;
}
.forum ul li .info {
    float:right;
    margin-top:5px
}
.forum ul li .topic {
    float:left;
    margin-left:20px;
    width: calc(100% - 320px);
}
.forum ul li .info span.block {
    display:block;
    font-size:22px;
    font-weight:normal;
}
.forum ul li .info label {
    font-weight:normal;
}
.ans-count {
    font-size:22px;
}
.header-content {
    margin-top:70px;
    position:relative;
}
.load {
    display: block;
    margin: 0 auto;
}
.popup {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
}
.popup.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}
.popup .popup-content {
    width:700px;
    height: 470px;
    top:50%;
    left:50%;
    margin-top: -280px;
    margin-left: -350px;
    background:rgba(255,255,255,1);
    position:absolute;
    box-shadow: 1px 1px 15px #333;
    border-radius:5px;
    text-align:center;
    padding: 20px 70px;
    position:relative;
}
.popup .close {
    position:absolute;
    right:20px;
}
.circle-border {
    border:3px solid #666;
    width:80px;
    height:80px;
    border-radius:40px;
    display:inline-block;
    margin-top:10px;
}
.circle-border .fa {
    font-size:50px;
    color: #666;
    position:relative;
    top:10px;
}
input[type=text], input[type=password] {
    height:50px;
    font-size: 28px;
    padding: 0 10px 7px 10px;
}
.form-group {
    text-align:left;
}
.btn {
    font-size: 18px;
    padding: 10px 30px;
    font-family: sans-serif;
}
.button-group {
   margin-top:20px;
}
.btn.btn-trans {
    background:none;
    border:2px solid #666;
    padding: 9px 30px;
}
.message-block {
    border:1px solid #ccc;
    font-family: sans-serif;
    color: #bb0000;
    padding:5px 15px;
    border-radius:2px;
    font-size:16px;
}
.popup .message-block {
    font-size: 16px;
    margin-top:15px; 
}
.popup-content .form-loading {
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -60px;
    position: absolute;
}
.user-profile .btn.btn-trans {
    margin-top: 50px;
}
.user-profile h2 {
    font-family: sans-serif;
    font-size:20px;
    font-size: 26px;
    margin-top: 50px;
}
.user-profile .user-name {
    margin-top: 20px;
}
.user-profile .user-name label {
    font-size: 20px;
    font-family: sans-serif;
}
.user-profile .user-name span {
    font-size: 32px;
}
.header-content .btn.btn-blue {
    position: absolute;
    right: 15px;
    top: 0px;
    height: 100px;
    width: 320px;
    font-size: 22px;
    font-family: gotham-light;
    background-color:rgb(91,192,222);
    color:#fff;
}
.header-content .btn:active {
    background-color:rgb(91,192,235);
}
input[type="checkbox"] {
    width: 30px;
    display: inline-block;
    border: none;
    outline: none;
    height: 30px;
    position:relative;
    top:8px;
}
.popup.register .popup-content {
    height:650px;
}
.agreement-list {
    background-color: #999;
    color: #fff;
    padding: 30px 40px;
    border-radius: 3px;
}
.agreement-list p, .agreement-list li {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 2;
}
.agreement-btn.btn {
    margin-top:50px;
    background-color: rgb(91,192,222);
    color:#fff;
    border:none;
    height: 55px;
    padding-top: 16px
}
img.header-image {
    margin-bottom:20px;
}
.topic-form {
    background: #666;
    padding:20px 50px 100px 50px;
    border-radius: 2px;
    color:#fff;
    animation-duration:0.7s;
    -webkit-animation-duration:0.7s;
    -moz-animation-duration:0.7s;
    position:relative;
    
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform:rotateY(0deg);
}
.topic-form .form {
     -webkit-transform: translate3d(0,0,0);
     -webkit-backface-visibility: hidden !important;
    -moz-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
    margin-top:40px;
}
.topic-form .form .form-control {
    margin-top:10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
}
.topic-form .form .label {
    min-width:200px;
    display: inline-block;
    font-weight:normal;
    font-size:20px;
}
.topic-form .form input[type="text"] {
   padding:0 10px;
   border-radius:1px;
   border:none;
   outline:none;
}
.topic-form .form textarea {
   padding: 10px;
   border-radius:1px;
   border:none;
   outline:none;
   min-height:200px;
}
.btn.btn-black {
   background-color: #777;
}
.btn.btn-black:hover, .btn.btn-black:focus {
   color:#fff;
}
.button-container {
    margin-top:50px;
}
input[type="radio"] {
    width:25px;
    height:25px;
    display:inline-block;
    border:none;
    box-shadow:none;
    outline:none;
    position: relative;
    top: 6px;
    cursor:pointer;
}
input[type="radio"]:focus {
    border:none;
    box-shadow:none;
    outline:none;
}
.category-radio {
    width:33%;
    float:left;
}
.radio-list {
    display:inline-block;
    width:100%;
}
.message-block.white {
    border: 1px solid #fff;
    font-family: sans-serif;
    color: #fff;
    border-radius: 2px;
    font-size:16px;
    margin-bottom:30px;
}
.indicator {
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: rgba(250,250,250,0.9);
}
.indicator img {
    position: absolute;
    top:50%;
    left:50%;
}
.category-logo {
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    background: #999;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 32px;
    position:absolute;
    top:0;
    right:0;
}
.category-logo.agm {
    top:10px;
    box-shadow: 1px 1px 10px #999;
    background:#999;
    box-shadow: none;
    right:15px;
}
.message {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:18px;
    padding: 30px 25px;
    border-radius: 2px;
    color:#666;
    box-shadow: 1px 1px 5px #999;
	overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.message .by, .comment .by  {
    margin-top:30px;
    font-family: 'thaisanalite';
    font-size:22px;
}
.message .time, .comment .time {
    font-family: 'thaisanalite';
    font-size:22px;
}
.message .fa, .comment .fa {
    font-size:18px;
    margin-right:10px;
}
.topic-header {
    display:inline-block;
    width:100%;
    position:relative;
}
.topic-header img {
    float:left;
}
.btn .fa {
    position:relative;
    top:2px;
    margin-right:5px;
}
.category-header {
    margin-top:20px;
    display: inline-block;
    width: 100%;
}
.category-header .category-name {
    font-size: 60px;
}
.category-header .category-logo {
    float:left;
    margin-top: 30px;
    position:relative;
}
.topic-form.category-screen  {
    margin-top:30px;
}
span.description {
    font-size: 35px;
    color: #999;
}
.category-header span {
    display:block;
}
.category-header .text {
    width: calc(100% - 135px);
    float:left;
    margin-left:35px
}
.category-logo a {
    color:#fff;
}
.description .fa {
    font-size:14px;
    position:relative;
    top:-5px;
}
.description .fa.fa-quote-left {
      margin-right:5px;
}
.description .fa.fa-quote-right {
      margin-left:5px;
}
.breadcrumb {
    display:inline-block;
    width:100%;
    padding:0;
    margin:0;
    background:none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:18px;
}
.breadcrumb ul {
    list-style: none;
    margin: 0;
    display: inline-block;
    width: 100%;
    padding: 0;
}
.breadcrumb li {
    list-style:none;
    display:inline-block;
}
.breadcrumb li .fa {
    width:auto;
    height:auto;
    background:none;
    color:#666;
    padding: 0 5px;
}
.comment-box-container {
    margin-top:50px;
}
.comment-box-container textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    min-height: 200px;
    font-size:16px;
}
.btn.btn-default:active {
    background-color:#ccc;
}
.comment-box-container h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.comment-list ul, .comment-list li {
    list-style:none;
    padding:0;
    margin:0;
}
.comment-list ul {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    box-shadow:none;
}
.comment-list li {
    float:right;
    border:1px solid #ccc;
    width:95%;
    display:inline-block;
    padding: 30px 25px;
    background: #f2f2f2;
    border-radius: 2px;
    margin-top:20px;
}
.comment-list li .comment-message {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.comment .fa {
    width:auto;
    height:auto;
    background:none;
    color:#666;
    padding:0;
    margin:0;
    margin-right: 15px;
}
.comment-list li.topic-owner {
     float:left;
     background: #fff;
     box-shadow: 1px 1px 5px #999;
     width:100%;
}
.load-more {
    margin:20px auto;
    width:200px;
    display:block;
}